<MudDialog>
    <DialogContent>
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h2" Align="Align.Center">
                    Next Game: @(_hoursRemaining):@(_minutesRemaining):@(_secondsRemaining)
                </MudText>
            </MudItem>
            <MudItem xs="12">
                @for (var i = 0; i < Index.MaxAllowedAttempts; i++)
                {
                    var localIndex = i;
                    <MudPaper Class="ma-4 d-flex justify-space-between">
                        <strong>@(localIndex + 1)</strong>
                        <span>@_gameRecords.Count(q => q.NumberOfAttemptsRequired == (localIndex + 1))</span>
                    </MudPaper>
                }
            </MudItem>
        </MudGrid>
        
    </DialogContent>
</MudDialog>


